<!DOCTYPE HTML>
<html>
<head>
    <title>SpringBoot2 Demo Webservice</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
</html>